<mat-form-field class="search-field" appearance="outline">
  <input type="text" matInput placeholder="Search stock or crypto (e.g. AAPL, BTC)" [formControl]="control"
    [matAutocomplete]="auto" aria-label="Search" />

  @if (control.value) {
  <button mat-icon-button matSuffix (click)="clear()" aria-label="clear">
    <mat-icon>X</mat-icon>
  </button>
  }

  @if (loading) {
  <mat-progress-spinner matSuffix diameter="20" mode="indeterminate">
  </mat-progress-spinner>
  }
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event.option.value)">
  @for (s of (suggestions$ | async); track s.symbol) {
  <mat-option [value]="s">
    <div class="option-line">
      <div class="symbol">{{ s.symbol }}</div>
      <div class="meta">
        {{ s.name }}
        @if (s.region) {
        <span>— {{ s.region }}</span>
        }
      </div>
    </div>
  </mat-option>
  }
  @if((suggestions$ | async)?.length === 0 && !loading && control.value){
  <mat-option>
    <span class="no-results">No results found</span>
  </mat-option>}
</mat-autocomplete>

@if (error) {
<div class="error">{{ error }}</div>
}